/* css variables */
:root{
    --bg_body_color :  #795548e8;
    --bg_header_color:darkred;
    --bg_msg_color:#ff9800; 
    --bg_input_color:blueviolet; 
    --bg_hero_color: rgba(255,255,255,0.5);
    --font_color_1: white;
    --font_color_2: #feff;
    --font_color_3 :yellow;
    --heart_color :#a90505;
}

body{
    margin: 0;
    background-color:var(--bg_body_color);
}

/* hide scrollbar */
body::-webkit-scrollbar{
    display: none;
}

/* removing default style */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color:var(--font_color_1);
}

/* Navigation Bar */
nav{
    padding: 10px 30px;
    background-color:var(--bg_header_color);
    /* position: relative; */
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    right: 0;
    left: 0;
}

/* SuperHero logo */
#superhero-logo-name{
    font-size: 20px;
 
    color:var(--font_color_2);
	text-shadow: 1px 1px 2px #f01c, 1px -1px 2px #f0cc, 
	-1px 1px 2px #f0cc, -1px -1px 2px #f0cc, 0px 0px 16px #f0fa,
	0 0 64px #f0fd;
}

/* Home & Fav section */
#home-fav{
    display: flex;
    gap: 15px;
    font-size: 25px;
    font-weight: bold;
}

/* SuperHero adding/removing notification */
#msg-section{
    font-size: 20px;
    color:var(--font_color_1);
    background-color: var(--bg_msg_color);
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    position: fixed;
    top:130px;
    right:10px;
    z-index: 1;
    opacity: 0;
    transition:opacity 0.5s ease-in-out ;
}

/* superhero name input section */
#name-input-section{
    margin-top: 20px;
    text-align: center;
}

/* input tag */
#name-input{
    padding: 10px;
    font-size: 20px;
    background-color: var(--bg_input_color);
    border-radius: 20px;
    border: none;
    width: 60%;
    text-align: center;
    color:var(--font_color_3);
}

#name-input:focus  {
    outline: none;
}

#name-input::placeholder{
    color: var(--font_color_3);
}

/* Showing result for */
#search-result{
    margin-top: 10px;
}

/* searched superhero display section */
#superHeros{
    padding:5px;
    margin: 15px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,250px));
    gap:50px;
    justify-content: space-evenly;
    height: 63vh;
    overflow-y: scroll;
}

#superHeros::-webkit-scrollbar{
    display: none;
}

/* individual superhero  */
.superHero{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color:var(--bg_hero_color);
    max-height: 400px;
}

.superHero:hover{
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, 1);
}


/* supehero image */
.superHero-img>img{
    width:100%;
    height: 97%;
    cursor: pointer;
    /* align-self: center; */
}

/* superhero name & fav icon section */
.superHero-name-fav{
    font-size: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* width: 100%; */
    cursor: pointer;
}

/* fav icon  */
.like{
    cursor: pointer;
    color:var(--heart_color);
}

